@media screen and (max-width: 600px)
{
    body{
        background-color:lemonchiffon;
    }
}

@media screen and (min-width: 600px)
{
    body{
        background-color:rgb(164, 198, 250);
    }
}

img{
    width: 150px;
}